<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Flor{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('images/icon/64-64.png') }}" />

        <!-- -------- CSS -------- -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base-theme.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        {% block stylesheets %}{% endblock %}

        <!-- ---- JavaScript ----- -->
        <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/base.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <!-- Barre de navigation du top -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-menu" aria-expanded="false">
                        <span class="sr-only">Ouvrir le menu</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" title="Accueil"><span class="glyphicon glyphicon-home"></span></a>
                </div>
                <!-- Contenu des menus de la barre de navigation -->
                <div class="collapse navbar-collapse" id="top-menu">
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                </div>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
